<html>
<div class="spinner-border text-primary" *ngIf="LoadingGif" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<form [formGroup]="form" (ngSubmit)="addDepartment()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre del departamento</label>
        <input type="text" class="form-control" formControlName="namedep" minlength="3" maxlength="6">
    </div>

    <button type="submit" class="btn btn-primary">Añadir</button>

</form>

<form [formGroup]="formbackground" (ngSubmit)="addbackground()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre del background</label>
        <input type="text" class="form-control" formControlName="nameback" minlength="3" maxlength="16">
    </div>

    <button type="submit" class="btn btn-primary">Añadir</button>

</form>

</html>