li a{
color: whitesmoke;
}

li{
transition: 0.3s ;
border-radius: 30px;
}

li:hover{
background-color: rgba(190, 190, 190, 0.342);
}

nav{
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: black;
}





.dropdown-menu li{
    transition: 0.3s ;
    border-radius: 30px;
    }
    
    .dropdown-menu  li:hover{
    background-color: rgba(190, 190, 190, 0.342);
    cursor: pointer;
    }