li a{
color: whitesmoke;
}

li{
transition: 0.5s ;
border-radius: 30px;
}

li:hover{
background-color: rgba(190, 190, 190, 0.342);
}

nav{
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: black;
}