<html>

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand text-white" [routerLink]="['/']">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']">{{Link1}}</a>
                    </li>
                    
                    <li *ngIf="!token_valid" class="nav-item">
                        <a class="nav-link" [routerLink]="['login']">{{Link2}}</a>
                    </li>
                    <li *ngIf="!token_valid" class="nav-item">
                        <a class="nav-link" [routerLink]="['signin']">{{Link3}}</a>
                    </li>
                
                </ul>
                <ul *ngIf="token_valid" class=" ul_user navbar-nav ">
                <li  class="ul_user_style nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{user}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" [routerLink]="['/userdetails',user,user_url,user_biography,user_email,user_id]">Perfil</a></li>
                      <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
                    
                    </ul>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
    



</html>