<html>
<form class="container my-5" [formGroup]="formsignin"  (submit)="addUser()">
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="user" autocomplete="off" formControlName="name"  maxlength="16">
        <input type="email" class="form-control" placeholder="email" autocomplete="off" formControlName="email"  maxlength="16">
        <input type="password" class="form-control" placeholder="password" autocomplete="off" formControlName="password"  maxlength="16">
        <div style="color:white" *ngIf="correoDuplicado" class="error-message">Este correo ya está registrado.</div>
    </div>
    <button type="submit" class="btn btn-primary">SignIn</button>
</form>




  
  

</html>