<html>
<form class="container py-5" [formGroup]="formsignin"  (submit)="addUser()">
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="user" autocomplete="off"  formControlName="name">
        <input type="email" class="form-control" placeholder="email" autocomplete="off" formControlName="email">
        <input type="password" class="form-control" placeholder="password" autocomplete="off" formControlName="password">
        <div style="color:white" *ngIf="correoDuplicado" class="error-message">Este correo ya está registrado.</div>
        <div *ngIf="!this.formsignin.get('name').valid"> <span class="error-message">name is required and should be at least 8 characters long.</span></div>
    </div>
    <button type="submit" [disabled]="!formsignin.valid" class="btn btn-primary">SignIn</button>
</form>




  
  

</html>