

.card{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(14, 14, 14);
    color: white;
}
.rounded-circle{
    width:60px;
     height:60px;
}

.form_box{
    border: 1px solid rgb(148, 217, 245);
    background-color: rgb(14, 14, 14);  
    margin-bottom: 10rem; 
}
p{
color: white;
}
a{
text-decoration: none;
}
.form_tweet{
padding-top: 5rem;
padding-bottom: 5rem;
}