<html>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Añadir Departamento</button>
<table class="table">
    <thead>
        <tr>
            <input [(ngModel)]="DepartmentIdFilter" class="form-control" (keyup)="FilterFn()" placeholder="Filter">
        </tr>
        <tr>

            <th scope="col">DepartmentId</th>
            <th scope="col">DepartmentName</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of DepartmentList">

            <td>{{dataItem.DepartmentId}}</td>
            <td>{{dataItem.DepartmentName}}</td>

        </tr>
    </tbody>
</table>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añade o edita un empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-edit-department></app-add-edit-department>
            </div>
        </div>
    </div>
</div>

</html>