<html>




<!--<div *ngIf="python_option">
    <table class="table container mt-5 mb-5">
        <p>lISTA DE DEPARTAMENTOS! Python</p>
        <thead>
            <tr>

                <th scope="col">DepartmentId</th>
                <th scope="col">DepartmentName</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of DepartmentList">

                <td>{{dataItem.DepartmentId}}</td>
                <td>{{dataItem.DepartmentName}}</td>

            </tr>
        </tbody>
    </table>
</div>

-->



    


<div class="container py-5">
    <div *ngFor="let equipo of ListarEquipo">
        <div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <div class="col-sm-5 p-3">
                    <img class="card-img" src="{{equipo.img}}" alt="Suresh Dasari Card"></div>
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title">{{equipo.nombre}}</h5>
                            <p class="card-text">{{equipo.nombre}}</p>
                            <button (click)="eliminar(equipo.id_equipo)" type="button" class="btn me-1 btn-danger"><i class="bi bi-trash3"></i> </button>
                            <button [routerLink]="['/edit',equipo.id_equipo,equipo.nombre,equipo.logo,equipo.img]" type="button" class="btn btn-warning"><i class="bi bi-pencil-fill"></i> </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="token_valid">
        {{user.id}}
        <div *ngFor="let usertask of UserTasks">
            {{usertask.descripcion}}

        </div>
    </div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añade o edita un empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-edit-department></app-add-edit-department>
            </div>
        </div>
    </div>
</div>

</html>