<html>
<button type="button" class="btn" style="background-color:#e3e579;" data-bs-toggle="modal" data-bs-target="#exampleModal">Añadir Departamento</button>
<button type="button" class="btn" style="background-color:#ffc107;" (click)="togglepython1()" *ngIf="showbutton">ShowPython</button>
<button type="button" class="btn" style="background-color:#ffc107;" (click)="togglepython2()" *ngIf="hidebutton">HidePython</button>
<button type="button" class="btn" style="background-color:#ffc107;" (click)="togglepython3()" *ngIf="showbuttonnjs">ShowNodeJs</button>
<button type="button" class="btn" style="background-color:#ffc107;" (click)="togglepython4()" *ngIf="hidebuttonnjs">HideNodeJs</button>



<div *ngIf="python_option">
    <table class="table container mt-5 mb-5">
        <p>lISTA DE DEPARTAMENTOS! Python</p>
        <thead>
            <tr>

                <th scope="col">DepartmentId</th>
                <th scope="col">DepartmentName</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of DepartmentList">

                <td>{{dataItem.DepartmentId}}</td>
                <td>{{dataItem.DepartmentName}}</td>

            </tr>
        </tbody>
    </table>
</div>




<div class="container">
    <div *ngIf="nodejs_option">
        <p>lISTA DE EQUIPOS! NodeJS</p>



        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Logo</th>
                    <th scope="col">Img</th>
                    <th scope="col">Eliminar</th>
                    <th scope="col">Cambiar foto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let equipo of ListarEquipo">
                    <th>{{equipo.id_equipo}}</th>
                    <td>{{equipo.nombre}}</td>
                    <td>{{equipo.logo}}</td>
                    <td><img src="{{equipo.img}}" width="30px" height="30px" alt=""></td>
                    <td><button (click)="eliminar(equipo.id_equipo)" type="button" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                  </svg></button></td>
                    <td><button [routerLink]="['/edit',equipo.id_equipo,equipo.nombre,equipo.logo,equipo.img]" type="button" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añade o edita un empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-edit-department></app-add-edit-department>
            </div>
        </div>
    </div>
</div>

</html>